<h1>Sign up!</h1>

<form action="/sign_up" method="POST">
  <label for ="email">Email:</label>
    <input type="text" name="email">
  <label for ="password">Password:</label>
    <input type="text" name="password">
  <label for ="password_confirmation">Confirm password:</label>
    <input type="text" name="password_confirmation">
  <input type="submit" value="Submit">
</form>
